@import './styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-transparent overflow-hidden select-none;
  }
  
  /* Esconde a scrollbar nativa */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  /* Remove as setinhas (spinners) de inputs do tipo number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; /* Para o Firefox */
  }
}